<!DOCTYPE html>
<html>
  <head>
    <title>StackUnderflowSite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
  </head>

  <body>
    <div class="jumbotron">
      <h1>Stack Underflow</h1>
      <nav class="">
        <% if current_user %>
        <%= current_user.user_name %> | <%= link_to "Sign out", '/signout' %>
        <% else %>
        <%= link_to "Sign up", 'signup' %> | <%= link_to "Sign in", '/signin' %>
        <% end %>
        |
        <%= link_to "Topics", topics_path %>
      </nav>
    </div>
    <div class="container">
      <% if flash[:alert] %>
        <div class="<%= flash[:alert]["class"] %>">
          <%= flash[:alert]["content"] %>
        </div>
      <% end %>
      <% if flash[:notice] %>
        <div class="<%= flash[:notice]["class"] %>">
          <%= flash[:notice]["content"] %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
